
.modal-card-container {
  position: relative;
  width: fit-content;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-content img {
  width: 100%;
  max-width: 400px;
}

.modal-content a {
  text-decoration: none;
  color: inherit;
}

.modal-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 70px;
}

.modal-card-container {
  flex: 0 0 200px; 
  box-sizing: border-box;
  margin: 35px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  
}

.modal-card-container::after {
  content: "";
  position: absolute;
  bottom: -10px; /* possicion reflejo */
  left: 0;
  width: 100%;
  height: 50px; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); 
  transform: scaleY(0.3); 
  transition: padding 0.3s ease;
}


.modal-card-image {
/*   width: 300px;
  height: 300px; */
  object-fit: cover;
  max-width: 100%; 
  height: auto; 
  
}

.modal-card-container:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease;
  filter: brightness(0.8); /*oscurece*/
  cursor: pointer; 
}
.modal-card-container {
  transition: filter 0.8s ease; 
}