
:root {
    --primary-color: #140811;  
    --secundary-color: #11090f; 
  }
  
  body {
    margin: 0;
    padding-top: 50px;  
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    padding: 0.5rem 1rem;
    color: black; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1005; /* navbar encima de todods los contenidos */
}  
/*   .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secundary-color);
    padding: 0.5rem 1rem;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1005;  navbar encima de todods los contenidos
  }
   */

  .navbar-logo {
    display: flex;
    align-items: left center;
}

.logo-img {
    height: 140px; 
    width: auto;  
}

  
  
  .navbar-title {
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-link {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.3rem 1rem;
    cursor: pointer;
    margin: 0 1rem;
    border-radius: 8px;
  }
  
  .navbar-link:hover {
    background-color: #777;
    color: white;
  }
  
  .navbar-button {
    background-color: #1a1212;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 1rem;
    outline: none; 
    box-shadow: none ;
  }
  
  .navbar-button:hover {
    background-color: #777;
    outline: none; 
    box-shadow: none ;
  }
  
  .navbar-button:focus {
    background-color: #777;
    outline: none; 
    box-shadow: none ;
  }
  